@import "tailwindcss";

@theme {
  --color-primary: #C3943E;
  --color-secondary: #10214F;
  --color-info: #3498db;
  --color-danger: #e74c3c;
  --color-success: #2ecc71;
  --color-warning: #f39c12;
}
